.media-top {
    height: 150px;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #d3d3d3;
    position: relative;
}

.media-fit-top {
    width: 90%;
    height: 61px;
    margin: 0 auto;
    border: 1px solid #d3d3d3;
}

.media-fit-top p {
    font-size: 18px;
    line-height: 28px;
    padding-left: 10px;
}

.cover_img {
    background-image: url('../img/cover.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.media-title {
    z-index: 1000;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: transparent
}

.overflow_hide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.mb0 {
    margin-bottom: 0px;
}

/* 超出隐藏 */
.toverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    white-space: nowrap !important;
}

.toverflow2 {
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* 换行 */
.br_style {
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}

.shade2 {
    position: absolute;
    top: 0px;
    right: 5%;
    width: 90%;
    margin: 0 auto;
    height: 61px;
    z-index: 100;
    background-color: #0d3349;
    opacity: 0.3;
    color: white;
    font-size: 16px;
    line-height: 61px
}

.shade1 {
    position: absolute;
    top: 0px;
    right: 5%;
    width: 90%;
    margin: 0 auto;
    height: 150px;
    z-index: 100;
    background-color: #0d3349;
    opacity: 0.3;
    color: white;
    font-size: 18px;
    line-height: 150px
}

.media-add {
    color: #18bc9c !important;
    font-size: 20px;
    line-height: 50px
}

